<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t|%p|(%d{yyyy-MM-dd HH:mm:ss})|%c|%m%n" />
		</layout>
	</appender>

	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/upd.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'-'yyyyMMdd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t|%p|(%d{yyyy-MM-dd HH:mm:ss})|%c|%m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<!-- 
	<logger name="com.cokeplay.api">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.amqp">
		<level value="info" />
	</logger>


	<logger name="org.apache.ibatis">
		<level value="info" />
	</logger>

	<logger name="com.mchange">
		<level value="info" />
	</logger>
	 -->
	<root>
		<priority value="error" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
